@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*nav*/

.navbar-brand > img {
    width: 100px;
}

.nav a {
    color: white;
}

.nav a:hover{
    color: darkgray;
}

.dropdown-menu li a{
    color: black;
}

.nav-item a:hover{
    color: darkgray;
}


@media screen and (max-width: 1349px) {
    .container {
        max-width: 100%;
        width: 91%;
    }
}

.titulo {
  
    font-size: 4rem;
    color: black;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);

}

.titulo-politica-de-datos{
    margin: 1.5em;
    
}

.parrafo1{
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}

.btnNuevo{
    background: #ffcc00;
    color: white;
    border-color: #ffcc00;
    height: 40px;
    width: 85px;
    border: 100px;
    border-radius: 5px;
}